body {
  font-family: Arial, sans-serif;

}

header {
  background-color: #0a0a0a;
  color: #fff;
  padding: 10px;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin-top: 20px;
  background-size: cover;
}

.mySlides {
  display: none;

}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.container {
    width: 80%; 
    margin: 0 auto;
    text-align: center;
    color: azure;
  }
  nav .container3{
    color: azure;
  }
